<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
size = "medium" color="fff"
type="ball-newton-cradle"></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let post of posts">
      <div class="our-services-wrapper mb-60">
        <div class="services-inner">
          <div class="our-services-img">
            <a [routerLink]="['posts', post.id]"><img src="../../../assets/images/open.png" width="68px" alt=""></a>
          </div>
          <div class="our-services-text">
            <div class="row">
              <h4 class="col-7">{{ post.title }}</h4>
              <h4  class="col-5">{{ post.price }}/MONTH</h4>
            </div>
            <p>{{ _shortDescription(post.description) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
