#nick {
  font-size: 20px;
  color: #4d4d4d;
}

.navbar {
  background-color: white;
}

.btn-nav {
  margin-top: 5px;
  color: white;
  background-color: #F96D06;
  border-color: #F96D06;
}

.btn-nav:hover {
  background-color: #519B8C;
  border-color: #519B8C;
}

body {
  font-family: "Century Gothic";
}

.nav-link {
  color: black;
  font-size: 25px;
}

.nav-item {
  border-bottom: 2px solid white;
}

.nav-item:hover {
  border-bottom: 2px solid #FC6602;
  color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn-primary {
  background-color: #5813AB;
  border-color: #5813AB;
}

.container {
  max-width: 960px;
}


.btn-primary:hover {
  background-color: #519B8C;
  border-color: #519B8C;
}

.card-title {
  font-size: 35px;
}

.container {
  margin-top: 50px;
  margin-bottom: 30px;

}
