#nick {
  font-size: 20px;
  color: #4d4d4d;
}

.card-btn {
  margin-left: 150px;
  position: relative;
  bottom: 10px;
  background-color: #76D7C4;
  border-color: #76D7C4;
}

.navbar {
  background-color: white;
}

.btn-nav {
  margin-top: 5px;
  color: white;
  background-color: #F96D06;
  border-color: #F96D06;
}

.btn-nav:hover {
  background-color: #519B8C;
  border-color: #519B8C;
}

.post {
  margin-top: 10px;
  margin-left: 420px;
}

body {
  font-family: "Century Gothic";
}

.nav-link {
  color: black;
  font-size: 25px;
}


.nav-item:hover {
  border-bottom: 2px solid #FC6602;
  color: black;
}

.active {
  border-bottom: 2px solid #FC6602;
}

.container {
  margin-top: 60px;
}

.btn-upload {
  background-color: #519B8C;
  border-color: #519B8C;
}
