#nick {
  font-size: 20px;
  color: #4d4d4d;
}

.navbar {
  background-color: white;
}

.btn-nav {
  margin-top: 5px;
  color: white;
  background-color: #F96D06;
  border-color: #F96D06;
}

.btn-nav:hover {
  background-color: #519B8C;
  border-color: #519B8C;
}

body {
  font-family: "Century Gothic";
}

.nav-link {
  color: black;
  font-size: 25px;
}

.nav-item:hover {
  border-bottom: 2px solid #FC6602;
  color: black;
}

.active {
  border-bottom: 2px solid #FC6602;
}

.card {
  background-image: linear-gradient(#A2A0A0 51%, #6A6666 49%);
  height: 180px;
  color: white;
  border-radius: 30px;

}

.card h2 {
  margin-top: 7px;
  margin-left: 110px;
}

.card h5 {
  margin-bottom: 20px;
  font-size: 15px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

#repeat {
  margin-top: 9px;
  margin-left: 80px;
}

.bottom {
  margin-left: 70px;
}

.fas:hover, .far:hover{
  color: #FF5733;
}
