@import url("card.css");

#nick {
  font-size: 20px;
  color: #4d4d4d;
}

.navbar {
  background-color: white;
}

.btn-nav {
  margin-top: 5px;
  color: white;
  background-color: #F96D06;
  border-color: #F96D06;
}

.btn-nav:hover {
  background-color: #519B8C;
  border-color: #519B8C;
}

body {
  font-family: "Century Gothic";
}

.nav-link {
  color: black;
  font-size: 25px;
}

.nav-item:hover {
  border-bottom: 2px solid #FC6602;
  color: black;
}

.active {
  border-bottom: 2px solid #FC6602;
}

.card {
  background-color: white;
  color: black;
  border-radius: 30px;

}

.far:hover {
  color: #FF5733;
}

.far {
  color: #2A9395;
  margin-left: 120px;
}
.container-fluid {
  margin-top: 40px;
  width: 1300px;
}

.btn-custom {
  background-color: #7F2C6C;
  color: white;
}

.btn-custom:hover {
  background-color: #A73C8F;
}

.col-10 {
  background-color: #E7E5E7;
  border-radius: 10px;
}

h2 {
  margin-top: 5px;
}

.box {
  float: left;
  width: 40px;
  height: 25px;
  margin: 15px;
  margin-left: 10px;
  background-color: #7F2C6C;
  color: white;
}

.bottom {
  margin: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

.transactions {
  margin-top: 60px;
}

.table {
  background-color: #E7E5E7;
}

.cash {
  font-size: 18px;
  color: red;
}

.plus {
  color: green;
}

span {
  font-size: 10px;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #7F2C6C;
  text-decoration: none;
}

.current {
  color: #7F2C6C;
}

input[type=button] {
  background-color: #7F2C6C;
}

input[type=button]:hover {
  background-color: #A73C8F;
}
