<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="box">
        <p class="text-center">USD</p>
      </div>
      <h2>{{ wallet.money }}</h2>
      <hr>
      <div class="box bottom">
        <p class="text-center">BYN</p>
      </div>
      <h3>285.69</h3>
    </div>
    <div class="col-2">
      <button id="myBtn" class="btn btn-custom btn-block btn-lg">Fill Up</button>
      <button class="btn btn-custom btn-block btn-lg">Statistics</button>
    </div>
  </div>
  <div class="transactions">
    <div class="row">
      <div class="col-9">
        <h4>Transactions</h4>
      </div>
      <div class="col-1 text-center">
        <a href="#"><h5 class="current">All</h5></a>
      </div>
      <div class="col-1 item">
        <a href="#"><h5>Charges</h5></a>
      </div>
      <div class="col-1 item">
        <a href="#"><h5>Refill</h5></a>
      </div>
    </div>
    <table class="table">
      <tbody>
      <tr>
        <td>08.11.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">6 <span>USD</span></td>
      </tr>
      <tr>
        <td>01.11.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">10 <span>USD</span></td>
      </tr>
      <tr>
        <td>27.10.2018</td>
        <td><strong>Refill</strong></td>
        <td class="text-center cash plus">134 <span>USD</span></td>
      </tr>
      <tr>
        <td>16.10.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">13 <span>USD</span></td>
      </tr>
      <tr>
        <td>12.10.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">1.5 <span>USD</span></td>
      </tr>
      <tr>
        <td>08.10.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">4 <span>USD</span></td>
      </tr>
      <tr>
        <td>07.10.2018</td>
        <td><strong>Product Title</strong></td>
        <td class="text-center cash">2 <span>USD</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
