<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size = "medium" color="fff"
             type="ball-newton-cradle"></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-10 text-center"><h2 class="title"><strong>{{ post.title }}</strong></h2></div>
    <div class="col-1 text-center" *ngIf="_getSessionStorage() && _getSessionStorage().role == 'ADMIN'"><button class="btn btn-info" routerLink="/new-post">Edit</button></div>
    <div class="col-1 text-center" *ngIf="_getSessionStorage() &&_getSessionStorage().role == 'ADMIN'"><button class="btn btn-info" (click)="_deletePost(post_id)" routerLink="">Delete<div>                                                                      </div></button></div>
  </div>
  <h5>{{ post.description }}</h5>
</div>
