<div class="container">
  <div class="card-deck text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ condition.price }}$ <small class="text-muted">({{ condition.discount }}% discount)</small></h5>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <h4 class="name">Months</h4>
          <div *ngFor="let num of numbers" class="button-group">
            <button type="button" class="btn btn-custom" (click)="_setDuration(num); _setPrice(post.price, post.discount); _setDiscount(post.discount)">{{ num }}</button>
          </div>
        </div>
        <button type="button" id="myBtn" class="btn btn-lg btn-primary" (click)="_openModal(template)">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h1 class="modal-title">Subscription details</h1>
  </div>
  <div class="modal-body">
    <h4>Subscription term: {{ condition.duration }} months</h4>
    <h4>All price: {{ condition.price }}$</h4>
    <h4>Discount: {{ condition.discount }}%</h4>
  </div>
  <input type="button" class="end" value="Subscribe" (click)="_closeModal(); _subscribe()">
</ng-template>
