.container {
  margin-top: 50px;
  width: 600px;
}

.row {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 40px;
}

span {
  font-size: 14px;
  color: red;
}

.btn-info {
  border-radius: 0;
  background-color: #4ABDAC;
  border-color: #4ABDAC;
}

.btn-info:hover {
  background-color: #378C80;
  border-color: #378C80;
}
